@font-face {
    font-family: 'Futura';
    src: url('../public/fonts/FuturaPTHeavy.otf');
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.back {
    /* background-color: red; */
    width: 100%;
    cursor: pointer;
}

.backPara {
    padding-left: 5rem;
    font-family: 'Futura';
    font-size: 1.5rem;
}

.bootcodeContainer {
    /* background-color: red; */
    display: flex;
    width: 100%;
    /* height: 40vh; */
    font-family: 'Futura';
    flex-grow: 1;
}

.bootcodeRender {
    background-color: #EAE8FB;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.bootcodeCode {
    /* background-color: powderblue; */
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.desc {
    /* background-color: red; */
    width: 80%;
    font-size: 1.25rem;
}

.iframe {
    border: 6px solid black;
    width: 80%;
}

.cardCategoriesContainer {
    display: flex;
    /* background-color: black; */
    width: 80%;
}

.cardCategorie {
    margin-right: 1rem;
    background-color: #9390C1;
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */

    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 2rem;
}

.bootcodeCodeSnippetContainer {
    background-color: #9390C1;
    width: 80%;
    height: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    max-height: 34rem;
}

.langugageSelection {
    display: flex;
    /* background-color: cadetblue; */
    height: 2.75rem;
    /* flex-grow: 1; */
    width: 100%;
}

.langugage {
    /* background-color: #9390C1;    */
    background-color: #EAE8FB;   
    flex-grow: 1; 
    flex-basis: 33%;
    padding: 0.75rem;
    color: black;
    /* margin-left: 1rem; */
    padding-left: 1.5rem;
    cursor: pointer;
}

.snippet {
    /* flex-grow: 1; */
    /* margin-top: -2rem; */
    width: 100%;
    height: 100%;
    /* border: solid 6px #9390C1; */
}

@media (max-width: 1000px) {
    .bootcodeContainer {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .bootcodeRender {
        background-color: #EAE8FB;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 80%;
    }
    .bootcodeCode {
        /* background-color: powderblue; */
        margin-top: 2rem;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


@media (max-width: 800px) {
    .cardCategorie {
        margin-right: 1rem;
        background-color: #9390C1;
        /* padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem; */
        font-size: 0.5rem;
        height: 1rem;
        padding: 1rem;
        /* padding: 0.25rem 1rem 0.25rem 1rem; */
        border-radius: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
