@font-face {
    font-family: 'Futura';
    src: url('../public/fonts/FuturaPTHeavy.otf');
}

.card {
    background-color: #EAE8FB;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: dashed #707070;
    padding: 1rem;
    font-family: 'Futura';
}



.cardFrame {
    /* background-color: red; */
    /* height: 15rem; */
}

.iframe {
    width: 100%;
    /* border: 2px solid red; */
    /* background-color: blue; */
    height: 12rem;
    border: 2px solid #707070;
    pointer-events: none;
}


.cardCategoriesContainer {
    display: flex;
    /* background-color: red; */
}

.cardCategorie {
    margin-right: 1rem;
    background-color: #9390C1;
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    /* width: auto; */
    /* padding: 0.25rem 1rem 0.25rem 1rem; */
    border-radius: 2rem;
    font-size: 0.70rem;
    height: 1.25rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

