.customInput {
    width: 100%;
    /* height: 2.75rem; */
    background-color: #EAE8FB;
    border: none;
    border-bottom: 0.25rem #393939 solid;
    color: #393939;
    margin-bottom: 2rem;
}

.customInput::placeholder {
    color: #393939;
}